@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default password reveal button in Edge/Internet Explorer */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  width: 100%;
  overflow-x: hidden;
}